:root {
    --bg-color: #2d3748;
    --text-color: #e2e8f0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

#flashcard-container {
    background-color: var(--bg-color);
}

#emoji-display,
#greek-word-display {
    color: var(--text-color);
}

#next-button,
#prev-button,
#theme-toggle {
    background-color: var(--text-color);
    color: var(--bg-color);
}